---
layout: default
---

<!-- Captura todas as paginas de boletim -->
{% assign edicoes = site.pages | where: "categories", "boletim" | sort: "date" | reverse %}

<div class="container">
  <br><br><br>

  <h2>{{ page.title }}</h2>
  <b>{{ page.description }}</b>

  <section class="boletim_edicoes">

    {% for edicao in edicoes %}

      <div class="boletim_edicao" id="edicao_num{{ edicao.edicao }}">
        <img src="/img/edicoes/capa_ed{{ edicao.edicao }}.jpg" alt="">
        <div class="boletim_edicao_titulo">
          <a href="/boletim/edicoes/pdf/boletim_ed{{ edicao.edicao }}.pdf" id="edicao_num{{ edicao.edicao }}_a"></a>
          {{ edicao.edicao }}ª ed. ({{ edicao.mes }}/{{ edicao.ano }})
        </div>
      </div>

    {% endfor %}
  </section>
</div>

<!-- JavaScript do Boletim -->
<script src="/assets/outros/js/boletim.js"></script>
